---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="I am a dedicated Software Developer and UI/UX Designer with a strong passion for creating innovative digital solutions that seamlessly blend functionality and design."
	pubDate={new Date('2025-01-10')}
	heroImage="/blog-placeholder-about.jpg"
>

	<!-- <p>
			ਬੁਲ੍ਹਾ ਕੀ ਜਾਣਾਂ ਮੈਂ ਕੌਣ?<br>
			Bullah Ki Jaana Main Kaun?<br>
			— Baba Bulleh Shah
	</p> -->
	<p>
		I am a dedicated Software Developer and UI/UX Designer with a strong passion for creating innovative digital solutions that seamlessly blend functionality and design. With hands-on experience in full-stack development, I specialize in building responsive web applications and intuitive user interfaces that enhance user engagement. My expertise spans modern technologies and frameworks, allowing me to transform complex ideas into scalable, high-performing products.
	</p>

	<p>
		Previously, I have contributed as a Full Stack Developer at Ricoz India and served as a UI/UX and Full Stack Developer at OS Code India, where I led the development of dynamic web platforms and optimized user experiences. 
	</p>

	<p>
		I’m a curious mind fueled by creativity and a love for solving problems in the most unconventional ways. For me, every line of code is a puzzle, and every design is a story waiting to be told. I thrive on turning ideas into engaging digital experiences that not only function seamlessly but also leave a lasting impression. When I’m not coding or designing, you’ll find me exploring new ideas, staying inspired by art, music, and the endless possibilities of technology.
		<p>
		"हजारों ख़्वाहिशें ऐसी कि हर ख़्वाहिश पे दम निकले,<br>
		बहुत निकले मेरे अरमान लेकिन फिर भी कम निकले।" — Mirza Ghalib
	</p>
		This couplet beautifully captures my relentless drive to keep pushing boundaries. No matter how many goals I achieve, there's always a new idea, a new challenge, and an even greater ambition pushing me forward.
	</p>


</Layout>
