---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>🦇 Hello, World!</h1>
      <p>
        Welcome to <b>RiszzBlogs</b> – a space curated for software developers and UI/UX designers passionate about learning, sharing, and growing. With a blend of technical expertise, creative vision, and a sprinkle of fun, this blog is your go-to destination for all things development and design.
      </p>
      <p>
        But hey, coding isn’t everything! Life’s a mix of passion, motivation, and creativity, so along with tech insights, you’ll also find life hacks and some unfiltered musings to keep things interesting.
      </p>
      <p>Here’s what’s in store:</p>
      <ul>
        <li><b>Quirky Tutorials</b>: Learn with a twist of humor and real-world examples.</li>
        <li><b>UI/UX Insights</b>: Design principles, user psychology, and best practices.</li>
        <li><b>Relatable Tech Stories</b>: Tales of triumph, mishaps, and lessons from the dev world.</li>
        <li><b>Creative Writings</b>: Thoughts straight from the heart.</li>
      </ul>
      <p>
        Let’s make this journey both productive and fun! If you like my work, don’t forget to 
        <a href="https://rishavbhardwaz.fun/">check out my portfolio 😎</a> or 
        <a href="mailto:rishav76000@gmail.com">drop a mail</a> to connect!
      </p>
    </main>
    <Footer />
  </body>
</html>
