---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🦇 Hello, World!</h1>
			<p>
				Join the journey of a developer and designer who loves to blend tech, design, and humor. 
			</p>
			<p>
				Welcome to Riszzblogs, a space curated for software developers and UI/UX designers passionate about learning, sharing, and growing. With a blend of technical expertise and creative vision, we aim to provide actionable insights, step-by-step tutorials, and a platform for collaboration. Whether you’re a seasoned professional or just starting, this is your go-to destination for all things development and design.
			</p>
			<p>Here are a few insights of the blogzz:</p>
			<ul>
				<li><b>Quirky Tutorials</b>: Learn with a twist of humor and real-world examples.
				<li><b>Relatable Stories</b>: Tales of triumph, mishaps, and everything in between from the world of tech and design.</li>
				<li><b>Playful Resources</b>: Templates, snippets, and tools that make your projects both functional and fun.</li>
				<li><b>Fun Vibes</b>: A space to laugh, and celebrate our wins (and epic fails!).</li>
			</ul>
			<p>
				Have fun! If you like my work, remember to <a href="https://rishavbhardwaz.fun/"
					>buy me a coffee 😎
				</a> or <a href="mailto:rishav76000@gmail.com">Mail us</a> to ask questions.
			</p>
		</main>
		<Footer />
	</body>
</html>
